<div class="col-md-10" >

	<h1 class="text-center"> {{userTitle}}</h1>
	<br>

<div class="row">

	<div class="col-sm-5 col-sm-offset-1  blackBG">

<span class="glyphicon glyphicon-user DetailUser left"></span>
<h4 class="left userEmail">{{userEmail}}</h4>


<button id="messageButton" type="button" class="btn-sm btn-primary right" data-toggle="modal" data-target="#messageUser"><span id="msgIcon" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Message</button>
	</div>

	<!-- Message Modals -->
<div id="messageUser" class="modal fade" role="dialog">
  <div class="modal-dialog">
<!-- Message Content -->
<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <h2 class="text-center">Message</h2>
      <div class="modal-body ">
        <form class="form-horizontal">
        <div class="form-group">
          <label for="email" class="col-md-2 control-label">To:</label>

          <div class="col-sm-8">
            <input type="email" class="form-control" name="toEmail" ng-model="toEmail" id="email" placeholder="{{userEmail}}" >
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-md-2 control-label">Messages</label>

          <div class="col-sm-8">
            <textarea type="text" name="message" id="message" ng-model="message" cols="30" rows="10"></textarea>
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-10 col-sm-push-4">
            <button type="submit" class="btn btn-lg  btn-primary" data-dismiss="modal" ng-click="sendMessage(userEmail)">Send</button>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


</div>
<br>
<div class="row">
	
		<div class="col-sm-2 col-sm-offset-1 colHeight boderLeft" style="border:1px solid black;">

	
		<h5 class="col-sm-2" >Key Partners</h5>
			<span class="glyphicon glyphicon-link right" style="margin-top:20px;"></span>


			<div class="col-sm-2 clear" >

<!-- 			Sticky NOTES Section -->
			<ul class="note">
				  <li ng-repeat="info in userBM  | filter:filterKey | limitTo:2">
					
				    <a>
				      	<h3 class="noteHeader text-center">{{info.content}}</h3>
			
				    </a>

				  </li>

  			</ul>


				
			</div>





	
				
		</div>
		<div class="col-sm-2 colHeight" style="border:1px solid black;">

				<h5 class="col-sm-2">Key Activities</h5>
			<span class="glyphicon glyphicon-star right" style="margin-top:20px;"></span>




			<div class="col-sm-2 clear">

				<ul class="note">
					  <li ng-repeat="info in userBM  | filter:filterActivities  | limitTo:2">
					    <a href="#">
				      	<h3 class="noteHeader text-center">{{info.content}}</h3>

					    </a>
					  </li>
	  			</ul>

			</div>


		
				
		</div>

		<div class="col-sm-2 colHeight" style="border:1px solid black;">

			<h5 class="col-sm-2">Value Propositions</h5>
			<span class="glyphicon glyphicon-usd right" style="margin-top:20px;"></span>
			

			<div class="col-sm-2 clear">

				<ul class="note">
					  <li ng-repeat="info in userBM  | filter:filterVp  | limitTo:2">
					    <a href="#">
				      	<h3 class="noteHeader text-center">{{info.content}}</h3>

					    </a>
					  </li>
	  			</ul>

			</div>

	
	
		</div>

		<div class="col-sm-2 colHeight" style="border:1px solid black;">

			<h5 class="col-sm-2">Customer Relationships</h5>
			<span class="glyphicon glyphicon-heart right" style="margin-top:20px;"></span>


			<div class="col-sm-2 clear">

				<ul class="note">
					  <li ng-repeat="info in userBM  | filter:filterCR  | limitTo:2">
					    <a href="#">
				      	<h3 class="noteHeader text-center">{{info.content}}</h3>

					    </a>
					  </li>
	  			</ul>

			</div>




		</div>
		<div class="col-sm-2 colHeight" style="border:1px solid black;">

			<h5 class="col-sm-2">Customer Segments</h5>
			<span class="glyphicon glyphicon-user right" style="margin-top:20px;"></span>
			 

			<div class="col-sm-2 clear">

				<ul class="note">
					  <li ng-repeat="info in userBM  | filter:filterCS  | limitTo:2">
					    <a href="#">
				      	<h3 class="noteHeader text-center">{{info.content}}</h3>
					    </a>
					  </li>
	  			</ul>

			</div>


		
				
		</div>

		<div class="col-sm-5 col-sm-offset-1 clear bottomColHeight" style="border:1px solid black;">

			<h5 class="col-sm-2">Cost Structure</h5>
			<span class="glyphicon glyphicon-stats right" style="margin-top:20px;"></span>

			<br>
	
			<div class="col-sm-10">

				<ul class="note">
					  <li ng-repeat="info in userBM  | filter:filterCStr  | limitTo:2" class="left bnotes">
					    <a href="#">
				      	<h3 class="noteHeader text-center">{{info.content}}</h3>
					    </a>
					  </li>
	  			</ul>

			</div>
	
				
		</div>
		<div class="col-sm-5 left bottomColHeight" style="border:1px solid black;">

			<h5 class="col-sm-2">Revenue Streams</h5>
			<span class="glyphicon glyphicon-piggy-bank right" style="margin-top:20px;"></span>
		
		<br>
			<div class="col-sm-10">

				<ul class="note">
					  <li ng-repeat="info in userBM  | filter:filterRS  | limitTo:2" class="left bnotes">
					    <a href="#">
				      	<h3 class="noteHeader text-center">{{info.content}}</h3>

					    </a>
					  </li>
	  			</ul>

			</div>




				
		</div>
	


</div>





	
</div>