section{

	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #323232;

}
h1,h2,h3{
	font-family: 'Quicksand', sans-serif;
	color:#5CBFDD;
	
}
h3{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight: 600;
	color:gray;
}
h4{
	color:white;
}

.blackBG{

	background-color: #323232;
}
.whiteFont{
	color:white;
}

footer{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #0D71B9 ;
}
nav{
	background-color: #0D71B9 !important;
	margin-bottom: 20px;

}

.lightB{
		color:#0D71B9;
}
.navbar {

    margin-bottom: 0px !important;
    border-radius: 1px;

}
.navbar-brand {
    color: white !important;
}
ul > li > p{
	font-size:16px; 
	padding-top: 10px;
	padding-bottom: 10px;

}
ul > li {
	list-style: none;
}
.navbar-default {
     background-color: #0D71B9 ; 
     border-color: #0D71B9 ; 
}
/*===================== Material Design =========================*/
.navbar.navbar, .navbar-default.navbar {
    background-color: #0D71B9 !important;
    color: rgba(255, 255, 255, 0.84) !important;

}
#userIcon{
	color: white;
	font-size: 24px;
}
li > span{
	
	padding-top: 15px;
	padding-bottom:15px;

}
#sideBar{

	height:800px;
	background-color: #E5E5E5 !important;
	padding-top: 100px;
	padding-right:0px;
	border-right: 1px solid black;

}
ul[class="nav nav-sidebar"] > li{

	background-color: #0D71B9 ;
}

ul[class="nav nav-sidebar"] > li > a{

	color:#fff;
	

}
/*ul[class="nav nav-sidebar"] > li >a:link{

	background-color: #323232 !important;
}
*/ul[class="nav nav-sidebar"] > li >a:hover{

	background-color: rgba(55,191,255,.5) !important;
}
ul[class="nav nav-sidebar"] > li >a:visited{

	background-color: #323232 !important;
}
ul[class="nav nav-sidebar"] > li >a:active{

	background-color: #323232 !important;
}
#sectionOne{

	height:350px;
	background-color: #323232 !important;
	padding-left:0px !important;

}
#sectionTwo{

	height:350px;
	background-color: white !important;
	padding-left:0px !important;

}
/*===================== Icons =========================*/
span[class="glyphicon glyphicon-home"]{

	float: right;
	color:white; 
	font-size: 15px;


}
span[class="glyphicon glyphicon-envelope"]{

	float: right;
	color:white; 
	font-size: 15px;


}

span[class="glyphicon glyphicon-cloud-upload"]{

	float: right;
	color:white; 
	font-size: 15px;


}
/*===================== User Page Styling =========================*/

.homePageIcons{

	color:#0D71B9;
	font-size:35px;
	background-color:#fff;
	padding:30px;
	border-radius:50px

}
#searchIcon{

	float: right;
	color:white; 
	font-size: 15px;


}
#searchHeader{

	padding-top:50px;
	padding-bottom:50px;
}
label{

	padding-top:5px;
	color:white;

}
#filters{

	display: inline-block;
}
#filters > li{

	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#inputSearchIcon{

	color:#fff;
}
.anchorPlaces{

	

}
.placesHover:hover{

color: red !important;
width:100%;
height: 100%;
background-color: red !important;


}
div[class="panel panel-info"]:hover{

	background-color: rgba(55,191,255,.3);
	color:white !important;
	text-decoration: none !important;

}
.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #0D71B9 !important;
    
}
.left{

	float: left;

}
.right{

	float: right;

}
.clear{

	clear:both;
}
.leftClear{

	clear:left;
}
.rightClear{

	clear:right;
}
.bottomColHeight{

	height: 150px;
}
.colHeight{

	height:400px;

}
.center{

	margin-left: 15px;
}
.note li a{

  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:7em;
  width:7em;
  padding:5px;
  margin-bottom: 10px;


  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

}
.note{

	padding:0px;
}
.noteHeader{
  font-size: 20px;
  font-weight:normal;
  font-family:"Reenie Beanie",arial,sans-serif;
  color: black;


 }
.note li a p{

	font-size:12px;
	color:black;
	font-family:"Reenie Beanie",arial,sans-serif;



}
.boderLeft{

	border-left: 6px solid black;

}
.borderRight{

	border-right: 2px solid black;


}
.borderTop{

	border-bottom: 2px solid black;
}
.bnotes{

	margin-right: 15px;
}
.inputBox{

	border: 1px solid black;
}
.topalign{

	margin-top: 20px;
	margin-bottom: 10px;
}
.addBox{

	/*border: 2px solid black !important;*/

	height: 400px;
}
.DetailUser{

	color:white;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom:20px;
}
.userEmail{

	margin-top: 20px;
	margin-bottom:20px;
	margin-left:10px
}
#messageButton{

	margin-top: 20px;
	margin-bottom: 20px;
	
}
#usersInbox{

	height:800px;

	border-right: 1px solid black;
	border-left: 1px solid black;

}
.inboxMessages{

	width:100%;
	
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:  #E5E5E5 !important;
	border-radius: 5px;
	cursor: pointer;

}
.msg:hover{

width:100%;
color:#0D71B9;


}
.userName{

	color:rgba(55,191,255,.9);
}
.chatMsg{
	
	margin-top:10px;
	margin-left:10px;

	
	padding:10px;
		border-radius: 10px;
	background-color:  white;

}
.dashboardList{

	margin-top: 10px;
	margin-bottom:10px;
	margin-left:15px;
	margin-right: 15px; 

}
.dashboardButtons{

	margin-top: 50px !important;
	margin-bottom: 10px !important;
	font-size:20px;
	font-style:bold;


}
#serachButton{

	margin-top: 45px;
	

}
#top{
	margin-bottom:20px;
	border-bottom: 2px solid black;
}
#msgIcon{

	margin-left: 10px;
	margin-right: 5px;

}
/**{
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#666;
  color:#fff;
}
h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
ul li{
  margin:1em;
  float:left;
}*/